nav {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
  color: rgb(255 255 255);
}

.nav-left {
  display: flex;
  margin-left: 0.5rem;
}

.name {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: rgb(255 255 255);
}

.nav-right-element {
  display: flex;
  flex-direction: column;
}

.circle {
  display: flex;
  flex-direction: absolute;
  padding: 0.25rem;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 9999px;
}

.circle-small{
  position: absolute;
  height: 0.1rem;
  width: 0.1rem;
  padding: 0.1rem;
  border-radius: 9999px;
  margin: auto;
}
.circle-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  filter:blur(0.8px) ;
}

.lang-container {
  display: flex;
  border-width: 2px;
  text-align: center;
  border-radius: 50%;
  width: 0.25rem ;
  height: 0.25rem ;
  border-color: white;
  border-style: solid;
  justify-content: center;
}

.lang-text {
  font-size: 1rem;
  line-height: 1.75rem;
  padding-bottom: 2px;
}



 .css-selector {
    background: linear-gradient(203deg, #662424, #002187, #ffffff);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 27s ease infinite;
    -moz-animation: AnimationName 27s ease infinite;
    -o-animation: AnimationName 27s ease infinite;
    animation: AnimationName 27s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}
@keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}