nav {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(255 255 255);
}

.nav-left {
  display: flex;
  margin-left: 0.5rem;
}

.name {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: rgb(255 255 255);
}

.nav-right-element {
  display: flex;
  flex-direction: column;
}

.circle {
  background-color: white;
  padding: 0.25rem;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 9999px;
}

.circle-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.lang-container {
  border-width: 2px;
  text-align: center;
  border-radius: 50%;
  width: 2.25rem /* 36px */;
  height: 2.25rem /* 36px */;
  border-color: white;
  border-style: solid;
}

.lang-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: left;
}
